body {
    background: #EEEEEE;
}

.page-wrapper {
    max-width: 1200px;
    margin: 20px auto;
}

li {
    border-width: 0.4rem;
    border-color: black;
    border-style: solid;
    background: white;
    display: inline-block;
    vertical-align: middle;
    padding: 16px;
    margin: 16px;
    max-width: 304px;
}

li img {
    width: 100%;
}