html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 250px;
    border: 2px dotted #00CE80;
    text-align: center;
}

p {
    width: 100%;
    padding: 20px;
    border: 2px solid #092ed2;

}